{namespace extrep=Tx_ExtensionRepository_ViewHelpers}

<f:layout name="Default"/>

<f:section name="main">
	<f:if condition="{extension}">
		<f:then>
			<div id="repository-ext-single" class="repository-toggle-from-here">

				<div class="repository-ext-single-header">
					<extrep:extensionIcon version="{extension.lastVersion}" alt="{extension.lastVersion.title}" class="repository-ext-icon" />
					<h2>
						<f:translate key="single_extension" />
						{extension.lastVersion.title}
					</h2>
				</div>

				<div class="repository-ext-single-content cl">
					<div class="repository-ext-single-description">
						<p>{extension.lastVersion.description}</p>

						<!-- Comments / changelog -->
						<f:if condition="{extension.lastVersion.uploadComment}">
							<div class="repository-ext-single-lastUploadComment">
								<h3><f:translate key="last_upload_comment"/></h3>
								<p>{extension.lastVersion.uploadComment}</p>
							</div>
						</f:if>

						<h3><f:translate key="download"/></h3>
						<f:if condition="{extension.lastVersion.hasZipFile}">
							<div class="repository-ext-single-download">
								<f:link.action controller="Extension" action="download" arguments="{extension : extension, versionString : extension.lastVersion.versionString, format : 'zip'}" class="repository-download-icon repository-download-icon-zip"><f:translate key="download_zip"/></f:link.action>
								<f:link.action controller="Extension" action="download" arguments="{extension : extension, versionString : extension.lastVersion.versionString, format : 'zip'}"><f:translate key="download_zip"/></f:link.action>
								<div class="repository-ext-single-filesize"><f:translate key="filesize"/>: <extrep:filesize filesize="{extension.lastVersion.zipFileSize}" format="kb" />Kb</div>
							</div>
						</f:if>
						<div class="repository-ext-single-download">
							<f:link.action controller="Extension" action="download" arguments="{extension : extension, versionString : extension.lastVersion.versionString, format : 't3x'}" class="repository-download-icon repository-download-icon-t3x"><f:translate key="download_t3x"/></f:link.action>
							<f:link.action controller="Extension" action="download" arguments="{extension : extension, versionString : extension.lastVersion.versionString, format : 't3x'}"><f:translate key="download_t3x"/></f:link.action>
							<div class="repository-ext-single-filesize"><f:translate key="filesize"/>: <extrep:filesize filesize="{extension.lastVersion.t3xFileSize}" format="kb" />Kb</div>
						</div>
					</div>

					<div class="repository-ext-single-info repository-ext-info">
						<table>
							<tr>
								<th><f:translate key="version"/></th>
								<td>{extension.lastVersion.versionString} <span class="repository-ext-state repository-ext-state-{extension.lastVersion.state}">{extension.lastVersion.state}</span></td>
							</tr>
							<tr>
								<th><f:translate key="last_uploaded"/></th>
								<td><extrep:dateTime format="{settings.dateFormat}">{extension.lastVersion.uploadDate}</extrep:dateTime></td>
							</tr>
							<tr>
								<th><f:translate key="downloads"/></th>
								<td>{extension.downloads}</td>
							</tr>
							<tr class="repository-ext-single-info-key">
								<th><f:translate key="extensionKey"/></th>
								<td>{extension.extKey}</td>
							</tr>
							<tr>
								<th><f:translate key="author"/></th>
								<td><f:link.action controller="Author" action="show" arguments="{author : extension.lastVersion.author}">{extension.lastVersion.author.name}</f:link.action></td>
							</tr>
							<tr>
								<th><f:translate key="category"/></th>
								<td><f:render partial="InlineCategoryList" arguments="{categories: extension.categories}"/></td>
							</tr>
							<tr>
								<th><f:translate key="relations"/></th>
								<td><f:render partial="InlineRelationList" arguments="{relations: extension.lastVersion.filteredSoftwareRelations}"/></td>
							</tr>
							<tr>
								<th><f:translate key="manual"/></th>
								<td><extrep:documentationLink>{extension.lastVersion}</extrep:documentationLink></td>
							</tr>
							<tr>
								<th><f:translate key="downloads_by_version"/></th>
								<td><extrep:chart object="{extension}" method="downloadsByVersion" height="100" width="170" pointCount="{settings.defaultPointCount}" renderOnLoad="1"/></td>
							</tr>
						</table>
					</div>

				</div>

				<!-- Images and other media -->
				<div class="repository-ext-single-images">
					<f:if condition="{extension.lastVersion.media}">
						<f:for each="{extension.lastVersion.media}" as="media">
							<!-- display only images in the list view -->
							<f:if condition="{media.type} == 0">
								<!-- add shadowbox effect to images -->
								<a href="{settings.mediaRootPath}{extension.extKey}/{media.source}" rel="shadowbox[{extension.extKey}]">
									<f:image src="{settings.mediaRootPath}{extension.extKey}/{media.source}" width="150" maxHeight="120" alt="{media.title}" />
								</a>
							</f:if>
						</f:for>
					</f:if>
				</div>

				<h3><f:translate key="version_history" /></h3>

				<div class="repository-ext-single-versionhistory repository-toggle-hide">
					<f:render partial="ExtensionUploadHistoryList" arguments="{versionHistory: versionHistory}" />
				</div>
				<div class="repository-ext-single-versionhistory repository-toggle-show">
					<f:render partial="ExtensionUploadHistoryList" arguments="{versionHistory: extension.reverseVersionsByDate}" />
				</div>

				<div class="repository-toggle-showMore repository-toggle repository-toggle-hide">
					<span><f:translate key="expand_details" /></span>
					<hr/>
				</div>
				<div class="repository-toggle-showLess repository-toggle repository-toggle-show">
					<span><f:translate key="collapse_details" /></span>
					<hr/>
				</div>

				<f:link.action controller="Extension" action="index" class="bu bu-mini dark-grey"><f:translate key="back_to_extension_list" /></f:link.action>

			</div>
		</f:then>
		<f:else>
			<p><f:translate key="msg.extension_not_found" /></p>
		</f:else>
	</f:if>
</f:section>