{namespace extrep=Tx_ExtensionRepository_ViewHelpers}

<div id="repository-ext-list-sort">
	<form method="get" action="{f:uri.action(controller:'Extension', action:'index', noCacheHash: 1)}">
		<f:form.select name="tx_extensionrepository_pi1[sorting]" class="jsSubmit" options="{
			NULL: '{f:translate(key:\'sort_extensions_by\')}',
			updated: '{f:translate(key:\'sorting.updated\')}',
			downloads: '{f:translate(key:\'sorting.downloads\')}',
			title: '{f:translate(key:\'sorting.title\')}'
		}" />
	</form>
</div>