<f:layout name="Default" />

<f:section name="main">

	<h2><f:translate key="modifiy-extension-key" /></h2>

	<hr />

	<!-- check if a frontend user is logged in -->
	<f:if condition="{loggedIn}">
		<f:then>

			<f:form action="update" controller="Registerkey" name="extension" object="{extension}">

				<div class="regisrepository-wrapper">
					<div class="registerkey-label">
						<label><f:translate key="extensionKey" /></label>
						<p class="registerkey-help">
							TODO: Some text here!!!
						</p>
					</div>

					<div class="regisrepository-input b-form-inputs">
						<f:form.textbox readonly="readonly" property="extKey" />
					</div>
				</div>

				<hr style="clear:both;" />

				<div class="regisrepository-wrapper">

					<div class="registerkey-label" style="">
						<label><f:translate key="category" /></label>
					</div>

					<div class="regisrepository-input">
						<div class="category-container">
							<f:for each="{categories}" as="category">
								<div class="category">
									<f:form.checkbox name="categories[{category.object}]" value="{category.object}" checked="{category.isChecked}" /> {category.object.title}<br />
								</div>
							</f:for>
						</div>
					</div>

				</div>

				<f:form.submit class="bu bu-mini" value="{f:translate(key: 'save')}" />

			</f:form>

		</f:then>
		<f:else>
			Please log in to manage your extension or to register a new extension key.
		</f:else>
	</f:if>
</f:section>