<f:layout name="Default" />

<f:section name="main">

	<div class="b-tabs">
		<ul class="tabs lite-tabs">
			<li>
				<a href="#tx_extensionrepository_tab_managekeys">
					<f:translate key="manage-extension-keys" />
				</a>
			</li>
			<li>
				<a href="#tx_extensionrepository_tab_registerkey">
					<f:translate key="regisrepository-extension-key" />
				</a>
			</li>
		</ul>

		<div class="tab-panes">

			<!-- open manage tab -->
			<div class="tab-content lite-tab-panes-black">

				<f:if condition="{loggedIn}">
					<f:then>

						<table class="manage-keys">
							<thead>
								<tr>
									<th colspan="3"><f:translate key="extensionKey" /></th>
									<th class="transfer-colum"><f:translate key="transferToUser" /></th>
								</tr>
							</thead>
							<tbody>
								<f:for each="{extensions}" as="extension">

									<!-- cycle values for rows -->
									<f:cycle values="{0: 'tr-odd', 1: 'tr-even'}" as="columCycle">

									<tr class="{columCycle}">
										<td style="border-right: 0;">
											{extension.extKey}
										</td>
										<td class="no-borders">
											<f:link.action class="url bu bu-mini" action="edit" controller="Registerkey" arguments="{extension: extension}"><f:translate key="modifiy-button" /></f:link.action>
										</td>
										<td class="no-border-left">
											<f:link.action class="bu bu-mini dark-grey" onclick="if (confirm('Really delete!!')) return true; else return false;" action="delete" controller="Registerkey" arguments="{extension: extension}"><f:translate key="delete-button" /></f:link.action>
										</td>
										<td>
											<div class="b-form-inputs">
												<f:form action="transfer" controller="Registerkey" name="transferKey" method="POST">
													<f:form.hidden name="extension" value="{extension}" />
													<f:form.textbox class="manage-keys-input" name="newUser" value="" />
													<f:form.submit class="bu bu-mini manage-keys-submit" value="Transfer" />
												</f:form>
											</div>
										</td>
									</tr>

									</f:cycle>
								</f:for>
							</tbody>
						</table>

					</f:then>
					<f:else>
						<f:translate key="registerkey.notloggedin" />
					</f:else>
				</f:if>
			</div>
			<!-- closing manage tab -->

			<!-- opening register tab -->
			<div class="tab-content lite-tab-panes-black">

				<!-- check if a frontend user is logged in -->
				<f:if condition="{loggedIn}">
					<f:then>

						<f:form action="create" controller="Registerkey" method="post">
							<f:form.hidden name="userName" value="{userName}"/>

							<div class="regisrepository-wrapper">

								<div class="registerkey-label">
									<label><f:translate key="extensionKey" /></label>
								</div>

								<div class="regisrepository-input b-form-inputs">
									<f:form.textfield name="extensionKey" value="" />
								</div>
							</div>

							<hr />

							<div class="regisrepository-wrapper">

								<div class="registerkey-label">
									<label><f:translate key="category" /></label>
								</div>

								<div class="regisrepository-input">
									<div class="category-container">
										<f:for each="{categories}" as="category">
											<div class="category">
												<f:form.checkbox name="categories[{category}]" value="{category}" /> <label>{category.title}</label>
											</div>
										</f:for>
									</div>
								</div>
							</div>

							<f:form.submit class="bu bu-mini" value="{f:translate(key: 'save')}" />
						</f:form>

					</f:then>
					<f:else>
						<f:translate key="registerkey.notloggedin" />
					</f:else>
				</f:if>

			</div>
			<!-- closing register tab -->

		</div>
	</div>

</f:section>