<f:layout name="Default" />

<f:section name="main">
	<h2><f:translate key="edit_category"/></h2>

	<f:form method="post" action="update" name="category" object="{category}">
		<label for="title"><f:translate key="tx_extensionrepository_domain_model_category.title" /></label><br />
		<f:form.textbox property="title" /><br />

		<label for="description"><f:translate key="tx_extensionrepository_domain_model_category.description" /></label><br />
		<f:form.textbox property="description" /><br /><br />

		<f:form.submit value="{f:translate(key:'edit')}" />
	</f:form>

	<f:link.action controller="Category" action="list"><f:translate key="back_to_list"/></f:link.action>
</f:section>