{namespace extrep=Tx_ExtensionRepository_ViewHelpers}

<f:layout name="Default" />

<f:section name="main">
	<h2><f:translate key="single_category"/></h2>

	<div class="repository-category-info">
		<table>
			<tr>
				<th><f:translate key="tx_extensionrepository_domain_model_category.title" />:</td>
				<td>{category.title}</td>
			</tr>
			<tr>
				<th><f:translate key="tx_extensionrepository_domain_model_category.description" />:</td>
				<td><extrep:raw>{category.description}</extrep:raw></td>
			</tr>
		</table>
	</div>

	<f:if condition="{settings.show.categoryExtensions}">
		<h3><f:translate key="category_extensions"/></h3>

		<div class="repository-category-extensions">
			<f:render partial="ExtensionList" arguments="{extensions : categoryExtensions}" />
		</div>
	</f:if>

	<hr />

	<div class="repository-category-single-links cl">
		<div class="repository-category-single-back">
			<f:link.action controller="Extension" action="index" class="bu dark-grey"><f:translate key="back_to_extension_list" /></f:link.action>
		</div>
	</div>
</f:section>